<!DOCTYPE html>
<html>
<head>
	<title>Create Paper</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css">
 	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}"> -->
</head>
<body>
	<nav>
	    <div class="nav-wrapper cyan">
	      <a href="{{url_for('index')}}" class="brand-logo">Blockchain based research journal.</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
		      <li><a href = "{{url_for('create_paper')}}">Create new.</a></li>
	      </ul>
	    </div>
	</nav>

	<main class = "row card-panel" id = "modal">
		<div class = "col s12">
			<form action = "{{url_for('create_paper')}}" method = "POST">
				<input type="text" name="journaltitle" placeholder = "Title">
				<input type="text" name="synopsis" placeholder = "Text here.">
				<input type="url" name="link" placeholder = "Link to your paper here.">
				<input type="submit" name="submitbtn" class = "btn cyan">
			</form>
		</div>
	</main>
</body>
</html>